<ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-title slot="end">{{ data[0].brand }} {{ data[0].name }}</ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-img src="{{ data[0].img }}" class="main-img"></ion-img>

  <div class="eng-div">
    <ion-toolbar>
      <ion-title>Engine</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-segment
        mode="ios"
        (ionChange)="engChanged($event)"
        value="vtec-gas"
        class="eng-segment"
      >
        <ion-segment-button value="vtec-gas">
          <ion-label>VTEC</ion-label>
          <ion-note>Gas</ion-note>
        </ion-segment-button>
        <ion-segment-button value="vtec-diesel">
          <ion-label>VTEC</ion-label>
          <ion-note>Diesel</ion-note>
        </ion-segment-button>
        <ion-segment-button value="vtec-hybrid">
          <ion-label>VTEC</ion-label>
          <ion-note>Hybrid</ion-note>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </div>

  <div class="design-div">
    <ion-toolbar>
      <ion-title>Design</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-segment
        mode="ios"
        (ionChange)="designChanged($event)"
        value="standard"
        class="design-segment"
      >
        <ion-segment-button value="standard">
          <ion-label>Standard</ion-label>
        </ion-segment-button>
        <ion-segment-button value="premium">
          <ion-label>Premium</ion-label>
        </ion-segment-button>
        <ion-segment-button value="sport">
          <ion-label>Sport</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </div>

  <ion-row class="order-btn">
    <ion-button strong="true" type="submit" color="success"
      >Order now <ion-icon name="arrow-forward-circle"></ion-icon
    ></ion-button>
  </ion-row>

  <ion-card
    ><ion-card-header>
      <ion-card-title>Description</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{ data[0].desc }}</ion-card-content>
  </ion-card>
</ion-content>
