.book-btn {
    justify-content: center;
    margin: 20px 0;
  }
  
  .eng-segment {
    // margin-top: 10px;
    height: 75px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
//   .eng-div {
//     margin-bottom: 20px;
//   }
  
  .design-segment {
    // margin-top: 10px;
    height: 45px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
//   .design-div {
//     margin-bottom: 20px;
//   }
  
  .main-img {
    margin-bottom: 20px;
  }
  