.book-btn {
    justify-content: center;
    margin: 20px 0;
  }
  
  .eng-segment {
    height: 75px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .design-segment {
    height: 45px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .main-img {
    width: 90%;
    margin: 0 auto;
  }
  
  h4 {
    text-align: center;
  }
  