ion-label {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}

.vehicle-img {
  max-width: 140px;
  margin-right: 20px;
  max-height: 90px;
  width: 140px;
  height: 90px;
}

ion-row {
  margin: 0 10px;
}

ion-col {
  place-self: center;
}
