ion-card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
}

ion-card {
  height: 190px;
  margin: auto;
}

.vehicle-img {
  width: auto;
  height: 100px;
}
