<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <ion-item>
      <ion-label>Toggle dark mode</ion-label>
      <ion-toggle slot="end" (ionChange)="toggleTheme($event)"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Comming soon</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
  </ion-list>

  <div id="container">
    <strong>App name: </strong>{{ AppName }}<br />
    <strong>Version: </strong>{{ VersionNumber }}
  </div>
</ion-content>