<ion-header [translucent]="true" #header>
  <ion-toolbar>
    <ion-title> {{ 'PAGETITLE.home' | translate }} </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <app-search-bar (query)="handleInput($event)"></app-search-bar>
  </ion-toolbar>
</ion-header>
<ion-content
  scrollEvents="true"
  (ionScroll)="onContentScroll($event)"
  [fullscreen]="true"
>
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let car of dataFiltered" size="6">
          <app-list-card
            [car]="car"
            (click)="getVehicle(car.id)"
          ></app-list-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
