<ion-header [translucent]="true" #header>
  <ion-toolbar>
    <ion-title> {{ 'PAGETITLE.home' | translate }} </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <app-search-bar (query)="handleInput($event)"></app-search-bar>
  </ion-toolbar>
</ion-header>
<ion-content
  scrollEvents="true"
  (ionScroll)="onContentScroll($event)"
  [fullscreen]="true"
>
  <ion-list *ngFor="let car of dataFiltered">
    <app-list-card [car]="car" (click)="getVehicle(car.id)"></app-list-card>
  </ion-list>
</ion-content>
