app-home {
  @import "~swiper/css";
  @import "~swiper/css/pagination";
  .swiper {
    width: auto;
    height: 250px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: grid !important;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide .slide-img {
    display: block;
    max-width: 300px;
    height: auto;
    object-fit: cover;
  }

  ion-title.ios {
    padding-inline-start: 20px;
    text-align: left;
  }
}
