<ion-content>
  <body>
    <section class="notFound">
      <div class="img">
        <img
          src="https://assets.codepen.io/5647096/backToTheHomepage.png"
          alt="Back to the Homepage"
        />
        <img
          src="https://assets.codepen.io/5647096/Delorean.png"
          alt="El Delorean, El Doc y Marti McFly"
        />
      </div>
      <div class="text">
        <h1>404</h1>
        <h2>{{ 'OTHER.pageNotFound' | translate }}</h2>
        <h3>{{ 'OTHER.backToHome?' | translate }}</h3>
        <a href="/">{{ 'COMMON.goBack' | translate }}</a>
      </div>
    </section>
  </body>
</ion-content>
