<ion-header translucent>
  <ion-toolbar>
    <ion-title>Booking</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="formGroup" novalidate>
    <ion-item>
      <ion-label position="floating">Name *</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Phone number *</ion-label>
      <ion-input type="tel" formControlName="phone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input formControlName="email" type="email">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Vehicle</ion-label>
      <ion-input formControlName="vehicle" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Engine type</ion-label>
      <ion-input formControlName="engine" readonly></ion-input>
    </ion-item>
    
    <ion-item lines="none">
      <ion-text color="danger">Fields with * is required.</ion-text>
    </ion-item>

  </form>
</ion-content>
<ion-footer>
  <ion-button size="block" color="primary" [disabled]="formGroup.invalid" (click)="bookingForm()">Booking</ion-button>
</ion-footer>